@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin-inline: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-large {
  padding-inline: 50px;
}

.button-primary {
  color: #ffffff;
  background-color: #756157;
}

.button-primary:hover,
.button-primary:focus-visible {
  background-color: #615048;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-secondary:hover,
.button-secondary:focus-visible {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-selected {
  color: #ffffff;
  background-color: #7db54f;
}

.button-selected:hover,
.button-selected:focus-visible {
  background-color: #6c9e42;
}

.button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.page-heading {
  margin: 0;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #000000;
}

.section-heading {
  max-width: 700px;
  margin: 0;
  margin-inline: auto;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subheading {
  max-width: 700px;
  margin: 0;
  margin-inline: auto;
  text-align: center;
  color: #333;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  padding-inline: 70px;
  color: #000000;
  background-color: #ffffff;
}

.site-logo {
  position: relative;
  z-index: 1;
  display: block;
  flex-shrink: 0;
  width: 140px;
}

.site-logo-image {
  display: block;
  width: 100%;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 28px;
}

.site-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.site-nav-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.site-nav-link:hover::after,
.site-nav-link[aria-current="page"]::after {
  content: "";
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.user-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav-item {
  flex-shrink: 0;
}

.user-nav-item:has(.button) {
  align-self: center;
  margin-left: 20px;
}

.user-nav-link {
  text-decoration: none;
}

.user-nav-link:not(.button) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 12px;
}

.user-nav-link:not(.button)::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-nav-link-search::before {
  background-image: url("../images/decor/search.svg");
  background-size: 19px 19px;
}

.user-nav-link-fav::before {
  background-image: url("../images/decor/heart.svg");
  background-size: 18px 17px;
}

.user-nav-link.button {
  padding-inline: 34px;
}

.user-nav-badge {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  aspect-ratio: 1 / 1;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  transform: translate(7px, -11px);
}

main {
  flex-grow: 1;
}

.hero {
  padding-block: 51px 82px;
  background-color: rgba(117, 97, 87, 0.8);
  background-image: url("../images/decor/section-background/hero-divider.svg"), url("../images/decor/section-background/hero.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.hero-image {
  display: block;
  width: 458px;
  margin-inline: auto;
}

.advantages {
  padding-top: 69px;
  background-color: #ffffff;
}

.advantages .section-heading {
  margin-bottom: 25px;
}

.advantages .subheading {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-illustrated {
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;
  padding: 32px 85px;
  box-sizing: border-box;
}

.advantages-item-text::before {
  content: "";
  order: 2;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-illustrated .advantages-item-text::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-image {
  display: block;
  width: 800px;
}

.advantages-item-title {
  order: 1;
  max-width: 175px;
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: balance;
  color: #000000;
}

.advantages-item-illustrated .advantages-item-title {
  color: #ffffff;
}

.advantages-item-description {
  order: 3;
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
}

.recommendations {
  padding-top: 64px;
  background-color: #ffffff;
}

.recommendations .section-heading {
  margin-bottom: 20px;
}

.recommendations .subheading {
  margin-bottom: 64px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
  padding: 78px 85px;
  min-height: 385px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-item:nth-child(2) {
  background-color: #ffffff;
}

.recommendations-item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.recommendations-item-hotel::before {
  background-image: url("../images/decor/recommendations/recommendations-hotel.svg");
  background-size: 76px 72px;
}

.recommendations-item-food::before {
  background-image: url("../images/decor/recommendations/recommendations-food.svg");
  background-size: 75px 70px;
}

.recommendations-item-souvenir::before {
  background-image: url("../images/decor/recommendations/recommendations-souvenir.svg");
  background-size: 65px 76px;
}

.recommendations-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.recommendations-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  text-wrap: pretty;
}

.search {
  padding-block: 96px;
  text-align: center;
  background-color: #ffffff;
}

.search .section-heading {
  margin-bottom: 20px;
}

.search .subheading {
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  line-height: 1.8;
}

.subscription {
  padding-block: 96px 104px;
  text-align: center;
  background-color: #ffffff;
}

.subscription .section-heading {
  margin-bottom: 21px;
}

.subscription .subheading {
  margin-bottom: 54px;
}

.subscription-illustrated {
  color: #ffffff;
  background-color: rgba(117, 97, 87, 0.8);
  background-image: url("../images/decor/section-background/subscription.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-illustrated .section-heading {
  color: #ffffff;
}

.subscription-illustrated .subheading {
  color: #ffffff;
}

.subscription-form {
  position: relative;
  display: inline-flex;
}

.subscription-control {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  opacity: 0.6;
}

.subscription-input {
  min-width: 452px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-input:hover {
  background-color: #e6e6e6;
}

.subscription-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscription-button {
  font-size: 20px;
  line-height: 1.8;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 28px;
  padding-inline: 70px;
  padding-block: 45px 35px;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  flex-shrink: 0;
}

.social-link {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.social-link:hover,
.social-link:focus-visible {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-link-vk::before {
  mask-image: url("../images/decor/social/social-vkontakte.svg");
  mask-size: 25px 15px;
}

.social-link-tg::before {
  mask-image: url("../images/decor/social/social-telegram.svg");
  mask-size: 18px 16px;
}

.social-link-yt::before {
  mask-image: url("../images/decor/social/social-youtube.svg");
  mask-size: 23px 18px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline: auto;
  font-style: normal;
}

.contacts-item {
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contacts-item:hover,
.contacts-item:focus-visible {
  color: #756157;
}

.contacts-item:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-author {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 115px;
  height: 34px;
  color: #000000;
}

.site-author:hover,
.site-author:focus-visible {
  color: #756157;
}

.site-author:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-author::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  mask-image: url("../images/decor/html-academy.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 115px 34px;
}

.filter {
  padding-inline: 70px;
  padding-block: 35px 70px;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 0.8);
  background-image: url("../images/decor/section-background/filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter .page-heading {
  margin-bottom: 8px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 28px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
}

.breadcrumbs-item:first-child {
  flex-shrink: 0;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 8px;
  height: 11px;
  background-image: url("../images/decor/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.31;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../images/decor/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-form-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form-group:nth-child(2) {
  margin-right: auto;
}

.filter-form-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-form-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-form-item {
  display: flex;
}

.filter-form-input {
  appearance: none;
  margin: 0;
}

.filter-form-input:focus-visible {
  outline: none;
}

.filter-form-control {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 1.28;
}

.filter-form-input:hover + .filter-form-control {
  opacity: 0.6;
}

.filter-form-input:active + .filter-form-control {
  opacity: 0.3;
}

.filter-form-control::before {
  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.filter-form-input:focus-visible + .filter-form-control::before {
  outline: 3px solid #83b3d3;
}

.filter-form-control-box::before {
  border-radius: 4px;
}

.filter-form-control-radio::before {
  border-radius: 50%;
  border: 5px solid white;
}

.filter-form-input:checked ~ .filter-form-control-box::before {
  background-image: url("../images/decor/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 11px;
}

.filter-form-input:checked ~ .filter-form-control-radio::before {
  background-color: #3f5e72;
}

.filter-form-range-group {
  display: flex;
  gap: 2px;
  margin: 0;
}

.filter-form-range-control {
  position: relative;
}

.filter-form-range-text {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  line-height: 1.33;
  text-transform: lowercase;
  color: #000000;
  opacity: 0.3;
  transform: translateY(-50%);
}

.filter-form-range-input {
  min-width: 143px;
  margin: 0;
  padding-inline: 20px 45px;
  padding-block: 12px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
}

.filter-form-range-input::-webkit-outer-spin-button,
.filter-form-range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-form-range-input:hover {
  background-color: #e6e6e6;
}

.filter-form-range-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.filter-form-range-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-form-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.catalog {
  display: grid;
  grid-template-areas:
    "heading select view"
    "catalog catalog catalog"
    "pagination pagination pagination";
  grid-template-columns: 1fr auto auto;
  row-gap: 40px;
  column-gap: 70px;
  padding-inline: 70px;
  padding-block: 50px 60px;
  background-color: #ffffff;
}

.catalog .section-heading {
  grid-area: heading;
  align-self: center;
  margin: 0;
  text-align: left;
}

.select-control {
  grid-area: select;
  min-width: 292px;
  padding: 12px 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  background-color: #ffffff;
  background-image: url("../images/decor/arrow-down.svg");
  background-position: center right 18px;
  background-repeat: no-repeat;
  background-size: 12px 9px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: currentColor;
  pointer-events: none;
}

.display-list {
  grid-area: view;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.display-item {
  flex-shrink: 0;
}

.display-button {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
}

.display-button-current {
  border-color: #000000;
}

.display-button:hover {
  border-color: #000000;
}

.display-button:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.display-button:active {
  border-color: #000000;
}

.display-button-tile {
  background-image: url("../images/decor/display/display-tile.svg");
}

.display-button-card {
  background-image: url("../images/decor/display/display-card.svg");
}

.display-button-list {
  background-image: url("../images/decor/display/display-list.svg");
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-area: catalog;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr repeat(3, auto);
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e6e6e6;
}

.card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.card-image {
  display: block;
  width: 300px;
}

.card-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  color: #000000;
}

.card-type {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  overflow-wrap: anywhere;
}

.card-price {
  justify-self: end;
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  overflow-wrap: anywhere;
}

.card-stars {
  margin: 0;
  display: flex;
  align-items: center;
}

.card-stars::before {
  content: "";
  background-image: url("../images/decor/star.svg");
  background-repeat: repeat-x;
  background-size: 24px 17px;
  height: 17px;
}

.card-stars-one::before {
  width: 24px;
}

.card-stars-two::before {
  width: 48px;
}

.card-stars-three::before {
  width: 72px;
}

.card-stars-four::before {
  width: 96px;
}

.card-stars-five::before {
  width: 120px;
}

.card-rating {
  margin: 0;
  padding-block: 9px 8px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  grid-area: pagination;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 18px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
  outline: none;
}

.pagination-link[aria-current="page"] {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-link[aria-current="page"]:focus-visible {
  outline: none;
}

.pagination-text {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 17px 21px;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
}
